
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/utilities";
@import "base/typography";


@import "abstracts/functions";
@import "abstracts/mixins";

@import "pages/home";

@import "components/buttons";

@import "layout/header";
@import "layout/grid";


/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
















